<h1>Formulario</h1>
<form #myForm="ngForm" (ngSubmit)="onRegister()">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="register.name"
      required
      name="name"
    />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="Email">Email</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="register.email"
      required
      name="email"
    />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="register.password"
      required
      name="password"
    />
    <p>Mensajes de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="sumbit">Registrar</button>
  <button type="button">Accion</button>
</form>

<hr />

<h1>ngClass & ngStyle</h1>
<input type="text" [(ngModel)]="person.name" #nameInput4="ngModel" required />
<hr
  class="line-error"
  [ngClass]="{
    valid: nameInput4.valid,
    invalid: nameInput4.invalid
  }"
/>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div
    [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      background: box.background,
      display: 'block'
    }"
  ></div>
</div>

<hr />

<h1>Class & Style</h1>
<input type="text" [(ngModel)]="person.name" #nameInput2="ngModel" required />
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label>Nombre</label>
<input type="text" [(ngModel)]="person.name" #nameInput3="ngModel" required />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">
  Texto texto texto
</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [src]="person.avatar" [style.width.px]="widthImg" />
  </div>
</div>

<hr />

<h1>ngSwitch</h1>
<input type="text" [(ngModel)]="person.name" required />
<!-- <p *ngIf="person.name === 'nicolas'">La persona es nicolas</p> -->
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">La persona es nicolas</p>
  <p *ngSwitchCase="'tomas'">La persona es tomas</p>
  <p *ngSwitchCase="'julian'">La persona es julian</p>
  <p *ngSwitchDefault="">No hace match</p>
</div>
<hr />

<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image" />
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<hr />

<h1>*ngFor</h1>
<input type="text" [(ngModel)]="newName" required />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres en la lista</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }}<button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr />

<h1>*ngIf</h1>
<input type="text" [(ngModel)]="person.name" required />
<p *ngIf="person.name == 'nicolas'">Soy Nicolas</p>
<p *ngIf="person.name == 'julian' && person.age == 18; else elseBlock">
  Soy Julian
</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>

<hr />

<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" [(ngModel)]="person.name" #nameInput="ngModel" required />
<p>Valid: {{ nameInput.valid }}</p>
<p>Age {{ person.age }}</p>
<input
  type="number"
  [(ngModel)]="person.age"
  #ageInput="ngModel"
  required
  max="18"
  min="10"
/>
<p>Valid: {{ ageInput.valid }}</p>

<hr />

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga maiores
    reprehenderit atque optio consequuntur ratione similique quasi quaerat hic
    in ab, quibusdam voluptate quo quos aspernatur totam minus! Quod, fugiat.
  </p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<p>Nombre {{ person.name }}</p>

<hr />

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" width="100" />

<hr />

<h1>Hola Mundo</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h2>{{ name }}</h2>
<img src="{{ img }}" alt="image" width="200" />
