<h1>ngSwitch</h1>
<input type="text" [(ngModel)]="person.name" required />
<!-- <p *ngIf="person.name === 'nicolas'">La persona es nicolas</p> -->
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">La persona es nicolas</p>
  <p *ngSwitchCase="'tomas'">La persona es tomas</p>
  <p *ngSwitchCase="'julian'">La persona es julian</p>
  <p *ngSwitchDefault="">No hace match</p>
</div>
<hr />

<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image" />
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<hr />

<h1>*ngFor</h1>
<input type="text" [(ngModel)]="newName" required />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres en la lista</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }}<button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr />

<h1>*ngIf</h1>
<input type="text" [(ngModel)]="person.name" required />
<p *ngIf="person.name == 'nicolas'">Soy Nicolas</p>
<p *ngIf="person.name == 'julian' && person.age == 18; else elseBlock">
  Soy Julian
</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>

<hr />

<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" [(ngModel)]="person.name" #nameInput="ngModel" required />
<p>Valid: {{ nameInput.valid }}</p>
<p>Age {{ person.age }}</p>
<input
  type="number"
  [(ngModel)]="person.age"
  #ageInput="ngModel"
  required
  max="18"
  min="10"
/>
<p>Valid: {{ ageInput.valid }}</p>

<hr />

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga maiores
    reprehenderit atque optio consequuntur ratione similique quasi quaerat hic
    in ab, quibusdam voluptate quo quos aspernatur totam minus! Quod, fugiat.
  </p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<p>Nombre {{ person.name }}</p>

<hr />

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" width="100" />

<hr />

<h1>Hola Mundo</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h2>{{ name }}</h2>
<img src="{{ img }}" alt="image" width="200" />
